# Server
PORT=5642
NODE_ENV=development

# Database
MONGO_URL=<YOUR_MONGODB_CONNECTION_STRING>

# Authentication
JWT_ACCESS_TOKEN_SECRET_KEY=<YOUR_JWT_SECRET>

# Frontend
CLIENT_ORIGIN=http://localhost:5173 # and if using dor android  http://macAddress:5173

# Gemini AI
GEMINI_API_KEY=<YOUR_GEMINI_API_KEY>

# Cloudinary
CLOUDINARY_CLOUD_NAME=<YOUR_CLOUDINARY_CLOUD_NAME>
CLOUDINARY_API_KEY=<YOUR_CLOUDINARY_API_KEY>
CLOUDINARY_API_SECRET=<YOUR_CLOUDINARY_API_SECRET>
CLOUDINARY_URL=cloudinary://<API_KEY>:<API_SECRET>@<CLOUD_NAME>

# Geoapify
GEOAPIFY_API_KEY=<YOUR_GEOAPIFY_API_KEY>